*zz_useless*

results*
post_analysis

dataset/FB100*

estimate_rgcr_expo_prob
compute_rgcr_variance
simulate_rgcr_variance
simulate_gcr_variance
simulate_gcr_variance_varying_p
compute_ball_size

commands*
zz_useless.cpp
.ipynb*

*.ungraph


.DS_Store
